.DS_Store
venv/
.venv/
.vscode/
.idea/

__pycache__/
*.pyc
*.pyo
*.pyd
*.pyw
*.pyz

.ipynb_checkpoints/

*.joblib
*.joblib.lock
*.joblib.lock.json
*.joblib.lock.json.lock
*.joblib.lock.json.lock.lock
*.joblib.lock.json.lock.lock.lock
*.joblib.lock.json.lock.lock.lock.lock
mlruns/
src/mlruns
src/notebooks/mlruns

*.ipynb
*.ipynb.lock
*.ipynb.lock.json
*.ipynb.lock.json.lock
*.ipynb.lock.json.lock.lock
*.ipynb.lock.json.lock.lock.lock
*.ipynb.lock.json.lock.lock.lock.lock
*.ipynb.lock.json.lock.lock.lock.lock.lock
# Sistem dosyaları
.DS_Store
Thumbs.db